---
title: About Findy Agency
linkTitle: About
menu:
main:
weight: 10

---


{{< blocks/cover title="About Findy Agency" image_anchor="bottom" height="min">}}

  <p class="lead mt-5">Findy Agency is an open-source project that develops Hyperledger Aries compatible identity agent service.
      Agency provides a web wallet for individuals and an API for organizations to utilize functionality
      related to verified data exchange: issuing, holding, verifying, and proving credentials.
  </p>

  {{< /blocks/cover>}}

    {{% blocks/lead %}}
Findy Agency project is launched by [OP Lab](https://op-lab.fi/) and has been developed incrementally during 2019-2021. Read more from [the blog](/blog).
    {{% /blocks/lead %}}


    {{< blocks/section>}}
      <div class="col-12">
        <h1 class="text-center">Authors</h1>
      </div>

      {{% blocks/feature icon="fa-user" title="Harri" %}}
[Harri Lainio](https://github.com/techlab-lainio)
      {{% /blocks/feature %}}
    
      {{% blocks/feature icon="fa-user" title="Laura" %}}
[Laura Vuorenoja](https://github.com/lauravuo-techlab)
      {{% /blocks/feature %}}

      {{% blocks/feature icon="fa-user" title="Pekka" %}}
[Pekka Kaipio](https://github.com/pekkakaipio-op)
      {{% /blocks/feature %}}

      {{% blocks/feature icon="fa-user" title="Ville" %}}
[Ville Seeste](https://github.com/ville-techlab)
      {{% /blocks/feature %}}

      {{< /blocks/section>}}


