+++
title = "Findy Agency"
linkTitle = "Findy Agency"
+++

{{< blocks/cover title="Findy Agency" image_anchor="top" color="orange">}}
	<div class="mx-auto">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /docs">}}">
			Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4"
			href="https://github.com/findy-network/findy-wallet-pwa/tree/dev/tools/env#agency-setup-for-local-development">
			Try it out! <i class="fab fa-github ml-2 "></i>
		</a>
		<p class="lead mt-5">
Findy Agency is an open-source project that develops Hyperledger Aries compatible identity agent service.
Agency provides a web wallet for individuals and an API for organizations to utilize functionality
related to verified data exchange: issuing, holding, verifying, and proving credentials.
		</p>
		{{< blocks/link-down color="info">}}
	</div>
{{< /blocks/cover>}}


{{% blocks/lead color="primary" %}}
Findy Agency operates using DIDComm messaging and [Hyperledger Aries](https://www.hyperledger.org/use/aries) protocols.

The supported verified credential format is currently [Hyperledger Indy](https://github.com/hyperledger/indy-sdk) "Anoncreds"
that work with Hyperledger Indy distributed ledger. The plan is to add more credential formats in the future.

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}
	{{% blocks/feature icon="fa-users" title="Multitenancy" %}}
Single agency installation can serve multiple individuals and organisations.
	{{% /blocks/feature %}}


	{{% blocks/feature icon="fa-cloud" title="Cloud Strategy" %}}
Credential data is stored securely in the cloud. Cloud agents do all the credentials-related hard work on behalf of the agency users.
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-desktop" title="Web Wallet" %}}
Individuals can use their device browser without the need to install a mobile application.
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-tachometer-alt" title="Speed" %}}
Backend services are implemented with highly performant [GoLang](https://golang.org/).
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-fingerprint" title="Security" %}}
Web wallet and API authentication are utilizing secure [WebAuthn/FIDO protocol](https://webauthn.guide/).
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-bolt" title="Modern API" %}}
Agency API is implemented on top of [the gRPC framework](https://grpc.io/). This technology ensures excellent performance with out-of-the-box support for a variety of languages.
	{{% /blocks/feature %}}

{{< /blocks/section>}}


{{< blocks/section>}}
	<div class="col">
		<h1 class="text-center">Demo: Findy Bots</h1>
		<p class="text-center">Example scenario implemented using Findy Agency.</p>
		<div class="text-center">
			<iframe style="max-width:100%" width="1120" height="630" src="https://www.youtube.com/embed/gVr8KwISMS4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
{{< /blocks/section>}}



{{< blocks/section>}}

	{{% blocks/feature icon="fab fa-github" title="Browse the codes"
	url="https://github.com/findy-network" %}}
All codes are available on **GitHub**.
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-play-circle" title="Try it out"
	url="https://github.com/findy-network/findy-wallet-pwa/tree/dev/tools/env#agency-setup-for-local-development" %}}
Launch agency locally with detailed step-by-step instructions.
	{{% /blocks/feature %}}

	{{% blocks/feature icon="fa-pen" title="Read the blog"
	url="/blog" %}}
Read stories from the project authors.
	{{% /blocks/feature %}}

{{< /blocks/section>}}

