<!--
Shortcode for youtube video embeddings

Usage:
< youtube-wrapper [video ID] [max-width] [max-height] >

Example:
< youtube-wrapper nygxmT3dN-g 939px 649px >

Remember to add double curly brackets around the element
-->

<style>
  .youtube-video-container {
    max-width: {{ .Get 1 }};
    max-height: {{ .Get 2 }};
  }

  .youtube-video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .youtube-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
  }
</style>

<div class="youtube-video-container">
  <div class="youtube-video-wrapper">
    <iframe src="https://www.youtube.com/embed/{{ .Get 0 }}" allowfullscreen></iframe>
  </div>
</div>
